{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="jumbotron">
        <h1>Lecker!</h1>

        <p class="lead">Vielen Dank, dass Du dein Newsletter-Abonement bestätigt hast.</p>

    </article>
{% endblock content %}