{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="container">

        <div class="page-header">
            <h2>Lecker!</h2>
        </div>

        <div class="alert alert-info">
            <p class="lead">Vielen Dank, dass Du dein <em>Backletter-Abonement</em> bestätigt hast.</p>
        </div>

    </article>
{% endblock content %}