{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="container">

        <div class="page-header">
            <h2>Hoppla!</h2>
        </div>

        <div class="alert alert-danger">
            <p class="lead">Du bist bereits mit dieser E-Mail-Adresse eingetragen.</p>
        </div>

    </article>
{% endblock content %}