{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="jumbotron">
        <h1>Huch!</h1>

        <p class="lead">Du bist bereits mit dieser E-Mail-Adresse eingetragen.</p>

    </article>
{% endblock content %}