{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="container">

        <div class="page-header">
            <h2>Eingetütet!</h2>
        </div>

        <div class="alert alert-success">
            <p class="lead">Deine Anmeldung war erfolgreich.</p>
            <p>Bitte bestätige nun deine Anmeldung, indem Du den Link anklickst, den wir an deine E-Mail-Adresse geschickt haben.<br>Geduld, das kann bis zu 5 Minuten dauern.</p>
        </div>

    </article>
{% endblock content %}