{% extends "BackgesellschaftWebBundle::page.html.twig" %}
{% block content %}
    <article class="jumbotron">
        <h1>Eingetütet!</h1>

        <p class="lead">Deine Anmeldung war erfolgreich.</p>

        <p>Bitte bestätige nun deine Anmeldung, indem Du den Link anklickst, den wir an deine E-Mail-Adresse geschickt haben. Geduld, das kann bis zu 5 Minuten dauern.</p>

    </article>
{% endblock content %}