{% set default_title %}{{ org }} — {{ claim }}{% endset %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default(default_title) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <header class="header">
        <h1 class="text-muted">{{ org }}</h1>
    </header>
{% block content %}
{% endblock %}
    {#
    <footer class="row marketing">
        <div class="col-lg-6">
            <h2>Facebook</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-6">
            <h2>Subheading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
    </footer>
    #}
</div> <!-- /container -->

{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>