@import "colors";

.dosis {
  font-family: 'Dosis', 'Arial', sans-serif;
  text-transform: uppercase;
}

html {
  background-color: $grey;
}

header {
  .navbar-default {
    .navbar-header {
      @extend .dosis;
      background-color: $red;
      margin: 0;
      .navbar-brand {
        padding-bottom: 5px;
        color: #fff;
        .logo {
          display: none;
        }
        .icon {
          padding-right: 5px;
        }
      }
    }
    .navbar-header.logo {
      background-color: transparent;
      .navbar-brand {
        .icon, .name {
          display: none;
        }
        .logo {
          display: inline;
          position: absolute;
          top: 0;
          left: 35px;
        }
        width: (170px + 35px*2);
        background-color: transparent;
      }
    }

    .navbar-toggle {
      border-color: #fff;
      .icon-bar {
        background-color: #fff;
      }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: darken($red, 10);
    }
  }

  .navbar-collapse {
    ul {
      padding: 0;
    }
  }
}

.container.carousel {
  padding: 0;
}

.carousel-caption {
  @extend .dosis;
  font-weight: 500;
  font-size: 2.5em;
  text-align: left;
  line-height: 110%;
  left: 5%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6),
    0 -1px 2px rgba(0, 0, 0, 0.6),
    -1px -1px 2px rgba(0, 0, 0, 0.6),
    -1px 0 2px rgba(0, 0, 0, 0.6);
  small {
    font-weight: normal;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 50px;
  }
}

footer {
  background-color: $lightgrey;
  color: invert($lightgrey);
  margin-top: 4em;
  h2 {
    @extend .dosis;
    font-size: 1.5em;
  }
}