@import "colors";

.dosis {
  font-family: 'Dosis', 'Arial', sans-serif;
  text-transform: uppercase;
}

html {
  background-color: $grey;
}

header {
  .navbar-default {
    .navbar-header {
      @extend .dosis;
      background-color: $red;
      margin: 0;
      .navbar-brand {
        padding-bottom: 5px;
        color: #fff;
        .logo {
          display: none;
        }
        .icon {
          padding-right: 5px;
        }
      }
    }

    .navbar-toggle {
      border-color: #fff;
      .icon-bar {
        background-color: #fff;
      }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: darken($red, 10);
    }
  }

  .navbar-collapse {
    ul {
      padding: 0;
    }
  }
}

.container.carousel {
  padding: 0;
  margin-bottom: 4em;
  .carousel-caption {
    @extend .dosis;
    font-weight: 500;
    font-size: 2.5em;
    text-align: left;
    line-height: 110%;
    left: 5%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 1px 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6),
      0 -1px 2px rgba(0, 0, 0, 0.6),
      -1px -1px 2px rgba(0, 0, 0, 0.6),
      -1px 0 2px rgba(0, 0, 0, 0.6);
    small {
      font-weight: normal;
    }
  }
}

.product {
  background: transparent url(../img/vichi-muster_20.png);
  padding: 33px;
  margin-bottom: 2em;
  position: relative;
  img {
    width: 100%;
  }
  .purchase {
    @extend .dosis;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    .price {
      display: inline-block;
      float: left;
      font-size: 5em;
    }
    input[type=number], .x {
      display: none;
    }
  }
}

.product.selected {
  .purchase {
    input[type=number] {
      float: left;
      width: 75px;
      margin-top: 40px;
      display: inline;
    }
    .x {
      float: left;
      line-height: 35px;
      font-size: 2em;
      margin-top: 40px;
      display: inline;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 50px;
  }
  header {
    .navbar-default {
      .navbar-header.logo {
        background-color: transparent;
        .navbar-brand {
          .icon, .name {
            display: none;
          }
          .logo {
            display: inline;
            position: absolute;
            top: 0;
            left: 35px;
          }
          width: (170px + 35px*2);
          background-color: transparent;
        }
      }
    }
  }
}

footer {
  background-color: $lightgrey;
  color: invert($lightgrey);
  margin-top: 4em;
  h2 {
    @extend .dosis;
    font-size: 1.5em;
  }
}